body {
    background-color: white;
    color: black;
}

h1 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
    
}

p {

    padding-left: 5em;
    padding-right: 5em;
    text-align: justify;
    font-size: large;
}

button {
    margin-top: 1em;
    margin-left: 47%;
    text-align: center;
    font-size: 1em;
    padding: 0.5em 1.5em 0.5em 1.5em;
    background-color: black;
    color: white;
}
.pageTitle {
    background-color: gainsboro;
    color: black;
    padding-bottom: 0.1em;    
    margin: 0 5em 0 5em;
}
img {
    position: relative;
    margin: auto;
    top: 0;
    left: 25%;
    right: 0;
    bottom: 0;
}