body {
    background-color: white;
    color: black;
}

h1 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
    
}

p {

    padding-left: 5em;
    padding-right: 5em;
    text-align: justify;
    font-size: large;
}

button {
    margin-top: 1em;
    margin-left: 47%;
    text-align: center;
    font-size: 1em;
}
.pageTitle {
    background-color: gainsboro;
    color: black;
    padding-bottom: 0.1em;    
}